<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/styles/leosite.css">
<link rel="stylesheet" type="text/css" href="/styles/leosite-navbar.css">

<head>

    <html lang="en">
    <title>Leonid Yanchis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="header">

        <!--Pop-out panel-->
        <!--    <div class="collapsible-menu">
            <input type="checkbox" id="menu">
            <label for="menu"></label>
            <div class="menu-content">
                <ul id="left-panel-list">
                    <li><a href="#"><img src="" alt="Email Me"></a></li>
                    <li><a href="#"><img src="" alt="Call Me"></a></li>
                    <li><a href="#"><img src="" alt="Yell at Me"></a></li>
                </ul>
            </div>
        </div> -->

        <h1>
            I am <span class="leo">Leo</span>,<br>a <span class="software">Software</span> Guy.</span>
        </h1>
    </div>
    <!-- @TO DO MAKE THIS AN SPA #links -->
    <div class="navbar">
        <a class="button" href="#popup1">Projects</a>

        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>My Projects</h2>
                <a class="close" href="">&times;</a>
                <!--maybe add # in href-->
                <div class="content">
                    <ul>
                        <li><a href="#">Weather App</a></li>
                        <li><a href="#">App #2</a></li>
                        <li><a href="#">App #3</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <a class="button" href="./resume">Resume</a>
        <a class="button" href="./biography">Biography</a>
        <!-- <a href="#" class="right">Link</a> -->
    </div>
    <div class="weekly-container">
        <span><strong>A</strong>rticle of the Week</span>
        <div id="article-container">
            <p>The article will go here, with a picture, mini blurb and link to full article</p>
        </div>
    </div>

    <div class="weekly-container">
        <span><strong>V</strong>ideo of the Week</span>
        <div id="video-container">
            <!-- @TO DO: Make src pull from my local DB-->
            <iframe width="560" height="250" src="https://www.youtube.com/embed/taWzoLpdxaI" frameborder="0" allow="accelerometer; encrypted-media; gyroscope;
            picture-in-picture"></iframe>
        </div>
    </div>

    <div class="weekly-container">
        <span><strong>S</strong>ong of the Week</span>
        <div id="audio-container">
            <!-- @TO DO: Make src pull from my local DB-->
            <iframe width="560" height="250" src="https://www.youtube.com/embed/Eps1N8Gv_RU" frameborder="0" allow="accelerometer; encrypted-media; gyroscope;
            picture-in-picture"></iframe>
        </div>
    </div>

    <div class="footer">
        <h2>You made it to the bottom!</h2>
        <ul id="footer-list">
            <li><a class="footer-links" href="#popup2">What is this site about?</a></li>
            <div id="popup2" class="overlay">
                <div class="popup">
                    <h2>About this site</h2>
                    <a class="close" href="#footer-list">&times;</a>
                    <!--maybe add # in href-->
                    <div class="content">
                        <p>This is my personal site that I built from scratch. I enjoy experimenting here so check back every so often for new
                            updates.</p>
                    </div>
                </div>
            </div>


            <li><a class="footer-links" href="#popup3">Need help with your website?</a></li>
            <div id="popup3" class="overlay">
                <div class="popup">
                    <h2>Let me help you out</h2>
                    <a class="close" href="#footer-list">&times;</a>
                    <!--maybe add # in href-->
                    <div class="content">
                        <p>I love upgrading websites and upgrading my skills in the process. Let's work together and I
                            can help you solve your pesky website problems.
                            Whether it's a new style layout, a user friendly menu, a new app integration or if your site
                            simply sucks, I would love to help.</p>
                        </p>
                    </div>
                </div>
            </div>

            <li><a class="footer-links" href="#popup4">Contact Me</a></li>
            <div id="popup4" class="overlay">
                    <div class="popup">
                        <h2>Let's get in touch</h2>
                        <a class="close" href="#footer-list">&times;</a>
                        <div class="content">
                            <p>Put contact format here.</p>
                            </p>
                        </div>
                    </div>
                </div>
        </ul>
    </div>

    <!--     <script src="" async defer></script>
 -->
</body>

</html>