<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/styles/leosite.css">
<!-- <link rel="stylesheet" type="text/css" href="/styles/normalize.css"> -->

<head>

    <lang="en">
        <title>Leonid Yanchis</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--[if IE]>
    <p class="browsehappy">This site does not support Internet explorer...sorry not sorry.</p>
    <![endif]-->

    <div class="header">
        <div id="banner">
            <span id="ly-icon"><a href="/">LY</a></span>
            <div class="navbar">
                <a class="nav-button">Projects</a>
                <div class="panel">
                    <a href="https://github.com/kRyM1337/leo-weather" target="_blank">Weather</a>
                </div>
                <a class="nav-button">Story</a>
                <div class="panel">
                    Coming <a
                        href="https://glitch.com/culture/how-to-build-a-scrollytelling-map-using-mapbox-and-glitch/?utm_content=buffer0beb0&utm_medium=social&utm_source=linkedin&utm_campaign=social"
                        target="_blank"><strong>soon</strong></a>
                </div>
                <a class="nav-button" href="./resume">Resume</a>
                <a class="nav-button" href="./content">Content</a>
            </div>
        </div>

        <div id="header-intro">I am Leo,<br>a <span class="software">Software</span> Guy.</div>
    </div>

    <div class="footer">

        <div class="footer-list">

            <a class="nav-button">About</a>
            <div class="panel">
                This is my personal hub that I built from scratch.<br>I enjoy experimenting here so check back for new
                updates.<br>Things I picked up while working on this site:<br>
                <p>CSS3 / Flexbox / Grid / Animations<br>Responsive
                    Design<br>NodeJS / NPM<br>API Patterns<br>SQLite3<br>HTML5</p>
            </div>

            <a class="nav-button">Collaboration</a>
            <div class="panel">
                I can help you with a range of problems, including:
                <p>App Design / Architecture<br>App / API Integrations<br>Server-side Javascript<br>Responsive
                    Design<br>UI Components<br>Requirements</p>
            </div>

            <a class="nav-button">Contact</a>
            <div class="panel">
                <a href="mailto:leonid.yanchis@gmail.com?Subject=Hello%20Leonid" target="_top"
                    style="text-decoration: none;">Email Me</a><br>
                <a href="https://linkedin.com/in/leonidyanchis/" target="_blank"
                    style="text-decoration: none;">LinkedIn</a>
            </div>
        </div>
        <div class="footer-ribbon">
            <a href="https://github.com/kRyM1337" target="_blank"><img src="../images/github.svg"
                    alt="Github"></img></a>
            <a href="https://linkedin.com/in/leonidyanchis/" target="_blank"><img src="../images/linkedin.svg"
                    alt="LinkedIn"></img></a>
            <a href="https://soundcloud.com/krym1337" target="_blank"><img src="../images/soundcloud.svg"
                    alt="SoundCloud"></img></a>
            <a href="https://www.instagram.com/thosevisualsbro/" target="_blank"><img src="../images/instagram.svg"
                    alt="Instagram"></img></a>

        </div>



    </div>

    <script>
        let acc = document.getElementsByClassName("nav-button");
        let i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                let panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
</body>

</html>