<!DOCTYPE html>
<link rel="stylesheet" href="/styles/leosite-resume.css">

<head> <!--@TODO Test mobile click to call when site is launched-->
    <html lang="en">
    <title>Leonid Yanchis Resume</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"> <!-- Disable auto detection for phone numbers -->
</head>

<body>
    <div class="wrapper">
        <div class="left-side">
            <p><span id="name-title"><strong>Leonid Yanchis</strong></span> <img id="divider" src="../images/divide.svg"
                    width="25px" height="25px" alt="Image of divider"> <br>Web Developer</p>

            <img id="leo-photo" src="../images/Leo-Main-1.jpg" width="350px" height="250px"
                    alt="A photo of Leonid Yanchis">

            
            <ul id="blurb-list">
                <li><img src="../images/email.svg" width="30px" height="30px" alt="Email">&nbsp&nbsp&nbsp&nbspLeonid.Yanchis@gmail.com</li>
                <li><img src="../images/phone.svg" width="30px" height="30px" alt="Phone">&nbsp&nbsp&nbsp&nbsp<a href="tel:+1-718-629-7347">+1 (718) 629-7347</a></li>
                <li><a href="https://linkedin.com/in/leonidyanchis/"><img src="../images/linkedin.svg" width="30px" height="30px" alt="LinkedIn"></a>&nbsp&nbsp&nbsp&nbspMy LinkedIn Page</li>
                <li><a href="https://github.com/kRyM1337"><img src="../images/github.svg" width="30px" height="30px" alt="Github"></a>&nbsp&nbsp&nbsp&nbspMy Github Portfolio</li>
                <li><a href="https://www.codedevils.org"><img src="../images/codedevils.png" width="30px" height="30px" alt="Code-Devils"></a>&nbsp&nbsp&nbsp&nbspMy Coding Club</li>
                <li><a href="https://www.asu.edu/"><img src="../images/ASU.png" width="30px" height="30px" alt="Arizona State University"></a>&nbsp&nbsp&nbsp&nbspASU - Software Engineering 2019</li>
            </ul>

        </div>

        <div class="right-side">
            <p><span id="exp-title"><strong>Experience</strong></span> <!-- <img id="divider" src="../images/divide.svg"
                width="20px" height="20px" alt="Image of divider"> --></p>
                <p id="grid-jobs">
                <span class="job-title">Content Specialist</span>
                <span class="job-title">AJ Madison</span>
                <span class="job-title">7/2017 to 5/2019</span>
                <span class="job-info">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod esse qui, aliquam porro in ut.<br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, commodi blanditiis! Eos quibusdam fuga facere!
                </span>

                <span class="job-title">Data Team Manager</span>
                <span class="job-title">Decor Planet</span>
                <span class="job-title">1/2013 to 9/2015</span>
                <span class="job-info">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod esse qui, aliquam porro in ut.<br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, commodi blanditiis! Eos quibusdam fuga facere!
                </span>
            </p>

        </div>
    </div>


</body>

</html>