<!DOCTYPE html>
<link rel="stylesheet" href="/styles/leosite-resume.css">

<head>
    <html lang="en">
    <title>Leonid Yanchis Resume</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="wrapper">
        <div class="left-side">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae a facilis aspernatur quas optio sequi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsum suscipit illum vel a repudiandae adipisci similique beatae earum sapiente!
    <div class="nested">I am nested below .left-side</div>    
    <div class="nested">I am nested below .left-side</div>    
    <div class="nested">I am nested below .left-side</div>    

    </div>

        <div class="right-side">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod libero quam, maxime, minima consectetur nam ut quibusdam aut tempore doloribus quae officia ullam ipsum nihil mollitia deleniti facilis veniam voluptatem adipisci ab ipsa architecto quia debitis? Hic fuga dolores eaque.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, quae.
        </div>
    </div>


</body>

</html>