<!DOCTYPE html>

<head>
    <lang="en">
        <title>Leonid Yanchis Resume</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no"> <!-- Disable auto detection for phone numbers -->
        <link rel="stylesheet" href="/styles/leosite-resume.css">
        <link rel="stylesheet" type="text/css" href="/styles/iphone678.css">
        <link rel="stylesheet" type="text/css" href="/styles/iphone678plus.css">
        <link rel="stylesheet" type="text/css" href="/styles/iphone5se.css">
        <link rel="stylesheet" type="text/css" href="/styles/galaxys5.css">
        <link rel="stylesheet" type="text/css" href="/styles/galaxys9.css">
</head>

<body>
    <div class="wrapper">
        <div class="left-side">
            <p><a href="/"><strong><span id="name-title">Leonid Yanchis</strong></span></a><a
                    href="resume/Leonid_Yanchis19.pdf" style="padding-left: 20px;"><img width="40px" height="40px"
                        src="../images/download.svg" alt="Leonid Yanchis Resume PDF"></img></a><br><span
                    id="pos-title"><strong>Software
                        Engineer</strong></span>

            </p>

            <img id="leo-photo" src="../images/Leo-Main-1.jpg" width="350px" height="250px"
                alt="A photo of Leonid Yanchis">


            <div class="blurb-list">
                <div><img src="../images/email.svg" alt="Email">&nbsp&nbsp&nbsp&nbsp<a
                        href="mailto:leonid.yanchis@gmail.com?Subject=Hello%20Leonid" target="_top">Email Me</a></div>
                <!-- <div><img src="../images/phone.svg" alt="Phone">&nbsp&nbsp&nbsp&nbsp<a href="tel:+1-718-629-7347">Call
                        Me</a></div> -->
                <div><img src="../images/github.svg" alt="Github">&nbsp&nbsp&nbsp&nbsp<a
                        href="https://github.com/kRyM1337" target="_blank">Github</a></div>
                <div><img src="../images/linkedin.svg" alt="LinkedIn">&nbsp&nbsp&nbsp&nbsp<a
                        href="https://linkedin.com/in/leonidyanchis/" target="_blank">LinkedIn</a></div>
                <div><img src="../images/education.svg" alt="Arizona State University">&nbsp&nbsp&nbsp&nbsp<a
                        href="https://asuonline.asu.edu/online-degree-programs/undergraduate/bachelor-science-software-engineering/"
                        target="_blank">Software Engineering</a></div>
                <div><img src="../images/coding.svg" alt="Code-Devils">&nbsp&nbsp&nbsp&nbsp<a
                        href="https://www.codedevils.org" target="_blank">Coding Club</a></div>
            </div>

        </div>

        <div class="right-side">

            <div class="tab">
                <button id="defaultOpen" class="tablinks" onclick="openTab(event, 'grid-skills')">Skills</button>
                <!-- <button class="tablinks" onclick="openTab(event, 'grid-jobs')">Experience</button> -->
                <button class="tablinks" onclick="openTab(event, 'projects')">Projects</button>
            </div>
            <!-- <div id="grid-jobs" class="tabcontent">
                <div class="main-job-title">Content Specialist</div>
                <span class="info">AJ Madison</span>
                <span class="info">7/2017 to 5/2019</span>
                <span class="job-bullets">
                    Assisted in launching a new site wide product category<br>
                    Managed Jira tickets for web development team<br>
                    Created custom VBA scripts<br>
                    Content QA site wide
                </span>

                <span class="main-job-title">Team Manager</span>
                <span class="info">Decor Planet</span>
                <span class="info">1/2013 to 9/2015</span>
                <span class="job-bullets">
                    Populated web space with 60+ brands<br>
                    Managed and trained products team in Europe<br>
                    Created effective pipeline of tasks and improvements<br>
                    Assisted CTO with front-end / back-end functionality analysis<br>
                    Actively improved in-house CRM throughout all lifecycles<br>
                    Devised unique product configurations for web customers<br>
                    Managed multi-department QA process
                </span>
            </div> -->
            <div id="grid-skills" class="tabcontent">
                <span class="skill-titles">Javascript</span>
                <div><span class="meter"></span></div>
                <span class="skill-titles">NodeJS</span>
                <div><span class="meter" style="width: 55%;-webkit-animation: fill55 1.5s ease-in-out;
                        animation: fill55 1.5s ease-in-out;"></span></div>
                <span class="skill-titles">ReactJS</span>
                <div><span class="meter" style="width: 55%;-webkit-animation: fill55 1.5s ease-in-out;
                        animation: fill55 1.5s ease-in-out;"></span></div>
                <span class="skill-titles">CSS / HTML</span>
                <div><span class="meter" style="width: 65%;-webkit-animation: fill65 1.5s ease-in-out;
                        animation: fill65 1.5s ease-in-out;"></span></div>

                <span class="skill-titles">Linux / Bash</span>
                <div><span class="meter" style="width: 55%;-webkit-animation: fill55 1.5s ease-in-out;
                        animation: fill55 1.5s ease-in-out;"></span></div>
                <span class="skill-titles">Team Management</span>
                <div><span class="meter" style="width: 70%;"></span></div>
            </div>
            <div id="projects" class="tabcontent">
                <ul>
                    <li><a href="/">this</a> 🙃</li>
                    <li><a href="https://leo-weather1337.herokuapp.com/" target="_blank">Weather</a> ⛅</li>
                </ul>
            </div>


        </div>
    </div>
    <!--Little JS to control the tabs-->
    <script>
        function openTab(evt, name) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(name).style.display = "grid";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>


</body>

</html>