<!DOCTYPE html>
<link rel="stylesheet" href="/styles/leosite-resume.css">

<head>
    <html lang="en">
    <title>Leonid Yanchis Resume</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="wrapper">
        <div class="left-side">
            <p><span id="name-title"><strong>Leonid Yanchis</strong></span> <img id="divider" src="../images/divide.svg"
                    width="20px" height="20px" alt="Image of divider"> Web Developer</p>

            <div class="photo"><img src="../images/Leo-Main-1.jpg" width="350px" height="250px"
                    alt="A photo of Leonid Yanchis"></div>

            
            <ul id="blurb-list">
                <li><img src="../images/email.svg" width="30px" height="30px" alt="Email">&nbsp&nbsp&nbsp&nbspLeonid.Yanchis@gmail.com</li>
                <li><img src="../images/phone.svg" width="30px" height="30px" alt="Phone">&nbsp&nbsp&nbsp&nbsp718-629-7347</li>
                <li><a href="https://linkedin.com/in/leonidyanchis/"><img src="../images/linkedin.svg" width="30px" height="30px" alt="LinkedIn"></a>&nbsp&nbsp&nbsp&nbspMy LinkedIn Page</li>
                <li><a href="https://github.com/kRyM1337"><img src="../images/github.svg" width="30px" height="30px" alt="Github"></a>&nbsp&nbsp&nbsp&nbspMy Github Portfolio</li>
                <li><a href="https://www.codedevils.org"><img src="../images/codedevils.png" width="30px" height="30px" alt="Code-Devils"></a>&nbsp&nbsp&nbsp&nbspMy Coding Club</li>
                <li><a href="https://www.asu.edu/"><img src="../images/ASU.png" width="30px" height="30px" alt="Arizona State University"></a>&nbsp&nbsp&nbsp&nbspASU - Software Engineering 2019</li>
            </ul>

        </div>

        <div class="right-side">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod libero quam, maxime, minima consectetur nam
            ut quibusdam aut tempore doloribus quae officia ullam ipsum nihil mollitia deleniti facilis veniam
            voluptatem adipisci ab ipsa architecto quia debitis? Hic fuga dolores eaque.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, quae.
            <div class="job-title">Job Title</div>
                <div class="job1">Job1</div>
                <div class="job2">Job2</div>
            </div>
        </div>


</body>

</html>