/* Ipad Pro */

@media screen and (max-width: 1366px) and (max-height: 1024px) {
  #header-intro {
    font-size: 80px;
    padding-top: 10%;
  }
  .footer-list {
    padding-top: 20%;
  }
  .nav-button {
    font-size: 30px;
  }
  .nav-button:hover {
    font-size: 31px;
  }
  .navbar {
    padding-left: 77vw;
  }
  #ly-icon {
    font-size: 60px;
  }
  .panel {
    font-size: 20px;
  }
}

/* Ipad Pro */

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  #header-intro {
    font-size: 80px;
    padding-top: 20%;
  }
  .footer-list {
    padding-top: 50%;
  }
  .nav-button {
    font-size: 30px;
  }
  .nav-button:hover {
    font-size: 31px;
  }
  .navbar {
    padding-left: 70vw;
  }
  #ly-icon {
    font-size: 60px;
  }
  .panel {
    font-size: 20px;
  }
}