/* Iphone X */

@media screen and (width: 414px) and (height: 896px) {
    .header-intro {
        padding-top: 50%;
    }
    .footer {
        padding-top: 145%;
    }
    .footer-ribbon img {
        width: 60px;
        height: 50px;
    }
}

@media screen and (width: 896px) and (height: 414px) {
    .header-intro {
        font-size: 40px;
        padding-top: 5%;
    }
    .footer {
        padding-top: 10%;
    }
    .footer-ribbon img {
        width: 60px;
        height: 50px;
    }
    .nav-button {
        font-size: 20px;
    }
    .nav-button:hover {
        font-size: 21px;
    }
    #ly-icon {
        font-size: 30px;
    }
    .panel {
        font-size: 15px;
    }
}