/* Iphone X */

@media screen and (width: 375px) and (height: 812px) {
  .header-intro {
    padding-top: 40%;
  }
  .footer {
    padding-top: 141%;
  }
}

@media screen and (width: 812px) and (height: 375px) {
  .header-intro {
    font-size: 35px;
    padding-top: 3%;
  }
  .footer {
    padding-top: 17%;
  }
  .footer-ribbon img {
    width: 60px;
    height: 50px;
  }
  .footer-ribbon {
    padding-top: 10px;
  }
  .nav-button {
    font-size: 18px;
  }
  .nav-button:hover {
    font-size: 19px;
  }
  #ly-icon {
    font-size: 25px;
  }
  .panel {
    font-size: 13px;
  }
}