/* Iphone 678 */

@media screen and (width: 375px) and (height: 667px) {
  #header-intro {
    font-size: 27px;
    padding-top: 20%;
  }
  .footer-list {
    padding-top: 30%;
  }
  .navbar {
    padding-left: 160px;
  }
  .nav-button {
    font-size: 22px;
  }
  .nav-button:hover {
    font-size: 23px;
  }
  #ly-icon {
    font-size: 35px;
  }
  .panel {
    font-size: 18px;
  }
}

@media screen and (width: 667px) and (height: 375px) {
  #header-intro {
    font-size: 30px;
    padding-top: 5%;
  }
  .footer-list {
    padding-top: 5%;
  }
  .footer-ribbon {
    padding-top: 15px;
  }
  .footer-ribbon img {
    width: 60px;
    height: 50px;
  }
  .navbar {
    padding-left: 490px;
  }
  .nav-button {
    font-size: 17px;
  }
  .nav-button:hover {
    font-size: 18px;
  }
  #ly-icon {
    font-size: 25px;
  }
  .panel {
    font-size: 15px;
  }
}