/* Iphone 5se */

@media screen and (width: 320px) and (height: 568px) {
  #header-intro {
    font-size: 20px;
    padding-top: 25%;
  }
  .footer-list {
    padding-top: 55%;
  }
  .navbar {
    padding-left: 140px;
  }
  .footer-ribbon {
    padding-top: 15px;
  }
  .footer-ribbon img {
    width: 60px;
    height: 50px;
  }
  .nav-button {
    font-size: 16px;
  }
  .nav-button:hover {
    font-size: 17px;
  }
  #ly-icon {
    font-size: 25px;
  }
  .panel {
    font-size: 13px;
  }
}

@media screen and (width: 568px) and (height: 320px) {
  #header-intro {
    font-size: 25px;
    padding-top: 3%;
  }
  .footer-list {
    padding-top: 4%;
  }
  .footer-ribbon {
    padding-top: 15px;
  }
  .footer-ribbon img {
    width: 60px;
    height: 50px;
  }
  .navbar {
    padding-left: 410px;
  }
  .nav-button {
    font-size: 15px;
  }
  .nav-button:hover {
    font-size: 16px;
  }
  #ly-icon {
    font-size: 23px;
  }
  .panel {
    font-size: 13px;
  }
}