/* KindleFire HDX */

@media screen and (width: 800px) and (height: 1280px) {
    .header-intro {
        font-size: 50px;
        padding-top: 30%;
    }
    .footer {
        padding-top: 150%;
    }
}

@media screen and (width: 1280px) and (height: 800px) {
    .header-intro {
        font-size: 80px;
        padding-top: 10%;
    }
    .footer {
        padding-top: 15%;
    }
}