@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

.overlay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* text-align: start; */
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 0.97;
}

.popup {
  background: rgb(202, 200, 200);
  border-radius: 5px;
  transition: all 1s ease-in-out;
  width: auto;
  height: auto;
}
#help-popup {
  width: 360px;
}
#contact-popup {
  width: 200px;
}
#project-popup {
  width: 230px;
}
.popup-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.popup-title {
  color: black;
  font-family: "Playfair Display";
}
#about-title {
  margin-right: 330px;
}
#project-title {
  margin-right: 50px;
}
#help-title {
  margin-right: 95px;
}
@-moz-document url-prefix() {
  #help-title {
    margin-right: 170px;
  }
}
#contact-title {
  margin-right: 30px;
}
@-moz-document url-prefix() {
  #contact-title {
    margin-right: 20px;
  }
}
.close {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: all 200ms;
  padding-right: 10px;
}
.popup-content {
  text-align: start;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 10px;
}
.popup-content > a {
  text-decoration: none;
}
.popup-content > ul {
  font-style: italic;
  list-style-type: none;
}

@media screen and (max-width: 530px) {
  #about-popup {
    width: 360px;
  }
  #about-title {
    margin-right: 80px;
  }
}
