@import url("https://fonts.googleapis.com/css?family=Audiowide|Orbitron|Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lacquer|Lobster|Permanent+Marker&display=swap");
body {
  font-family: "Orbitron", sans-serif;
  background: url(../images/retro.jpg);
  background-repeat: round;
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-auto-rows: minmax(100px, auto); */
  grid-template-areas: "headicon . nav" "middle middle middle";
  grid-column-gap: 10px;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

/* Ensures width and height of boxes include padding */

* {
  box-sizing: border-box;
}

#ly-icon {
  grid-area: headicon;
  align-self: start;
  justify-self: start;
  padding: 10px;
  margin-left: 10px;
  margin-top: 7%;
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: black;
  border: 2px black groove;
  border-radius: 50px;
}

#ly-icon a:link, #ly-icon a:visited {
  text-decoration: none;
  color: black;
}

.navbar {
  grid-area: nav;
  align-self: start;
  justify-self: end;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  padding-right: 8px;
  padding-top: 5%;
  font-size: 23px;
}

.nav-button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  color: black;
  transition: color 0.2s;
  transition-delay: 0.1s;
}

.nav-button:hover {
  font-size: 24px;
  color: red;
  transition: font-size 0.2s, color 0.2s;
}

.active {
  color: red;
}

.header-intro {
  grid-area: middle;
  align-self: start;
  padding-top: 3%;
  font-family: "Press Start 2P", cursive;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
}

.panel {
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 5px;
  max-height: 0;
  text-align: center;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: black;
}

.panel>a {
  color: blue;
  text-decoration: none;
}

.panel-footer {
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 5px;
  max-height: 0;
  text-align: center;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: white;
}

.panel-footer p {
  background-color: rgba(140, 0, 255, 0.781);
}

.panel-footer>a {
  color: blue;
  text-decoration: none;
}

.software {
  /* Clip Background Image */
  background: url(../images/wave.png) round;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: title-animation 50s linear infinite;
  -webkit-animation: title-animation 50s linear infinite;
  -moz-animation: title-animation 50s linear infinite;
  /* Activate hardware accele  padding-top: 10px;
ration for smoother animations */
  transform: translate3d(25, 15, 100);
  -webkit-transform: translate3d(25, 15, 100);
  -moz-transform: translate3d(25, 15, 100);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.footer {
  grid-area: middle;
  align-self: end;
  padding-top: 25%;
}

.footer-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 23px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.footer-ribbon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 20px;
}

.footer-ribbon img {
  width: 70px;
  height: 60px;
  padding: 5px;
}

/* Animate Background Image */

@-webkit-keyframes title-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@-moz-keyframes title-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes title-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Responsiveness */

@media screen and (max-width: 2560px) {
  .footer {
    padding-top: 29%;
  }
  .header-intro {
    padding-top: 8%;
  }
  .navbar {
    /* padding-top: 3%; */
  }
}

@media screen and (max-width: 1900px) {
  .footer {
    padding-top: 28%;
  }
  .header-intro {
    padding-top: 8%;
  }
}

@media screen and (max-width: 1500px) {
  .footer {
    padding-top: 30%;
  }
  .header-intro {
    padding-top: 8%;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    padding-top: 39%;
  }
  .header-intro {
    padding-top: 8%;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    padding-top: 46%;
  }
  .header-intro {
    /* font-size: 70px; */
    padding-top: 8%;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    padding-top: 53%;
  }
  .header-intro {
    font-size: 60px;
    padding-top: 8%;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding-top: 60%;
  }
  .header-intro {
    font-size: 55px;
    padding-top: 8%;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding-top: 70%;
  }
  .header-intro {
    font-size: 45px;
    padding-top: 10%;
  }
  .footer-ribbon img {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding-top: 86%;
  }
  .header-intro {
    font-size: 40px;
    padding-top: 10%;
  }
  .nav-button {
    font-size: 20px;
  }
  .nav-button:hover {
    font-size: 21px;
  }
  #ly-icon {
    font-size: 30px;
  }
  .panel {
    font-size: 15px;
  }
  .panel-footer {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    padding-top: 86%;
  }
  .header-intro {
    font-size: 30px;
    padding-top: 15%;
  }
  .nav-button {
    font-size: 18px;
  }
  .nav-button:hover {
    font-size: 19px;
  }
  #ly-icon {
    font-size: 25px;
  }
  .panel {
    font-size: 12px;
  }
  .panel-footer {
    font-size: 12px;
  }
  .footer-ribbon img {
    width: 50px;
    height: 40px;
    padding: 5px;
  }
}

@media screen and (max-width: 360px) {
  .footer {
    padding-top: 105%;
  }
  .header-intro {
    font-size: 25px;
    padding-top: 25%;
  }
  .nav-button {
    font-size: 16px;
  }
  .nav-button:hover {
    font-size: 17px;
  }
  #ly-icon {
    font-size: 20px;
  }
  .panel {
    font-size: 12px;
  }
  .panel-footer {
    font-size: 12px;
  }
  .footer-ribbon img {
    width: 40px;
    height: 45px;
    padding: 5px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 120%;
  }
  .header-intro {
    font-size: 25px;
    padding-top: 27%;
  }
  .nav-button {
    font-size: 16px;
  }
  .nav-button:hover {
    font-size: 17px;
  }
  #ly-icon {
    font-size: 20px;
  }
  .panel {
    font-size: 12px;
  }
  .panel-footer {
    font-size: 12px;
  }
  .footer-ribbon img {
    width: 35px;
    height: 40px;
    padding: 5px;
  }
}