@import url("https://fonts.googleapis.com/css?family=Audiowide|Orbitron|Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lacquer|Lobster|Permanent+Marker&display=swap");
body {
  font-family: "Orbitron", sans-serif;
  background: url(../images/retro.jpg);
  background-repeat: round;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: start;
  align-items: start;
  padding-left: 10px;
}

.left-side p {
  /* font-size: 25px; */
}

#pos-title {
  color: black;
  font-size: 25px;
  padding: 4px;
}

#name-title {
  font-size: 40px;
}

#name-title>a:link, a:visited {
  color: white;
  text-decoration: none;
  font-size: 40px;
  letter-spacing: 1px;
}

#leo-photo {
  padding-left: 0px;
  border: 1px groove white;
  border-radius: 4px;
}

#divider {
  background: rgb(4, 4, 148);
}

.blurb-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.blurb-list>div {
  font-size: 18px;
  margin-top: 10px;
}

.blurb-list>div a:link, .blurb-list>div a:visited, .blurb-list>div a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  background-color: rgba(42, 0, 77, 0.726);
}

.blurb-list>div a:hover {
  font-size: 19px;
  color: red;
}

.blurb-list img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.right-side {
  font-size: 30px;
  margin-top: 135px;
  letter-spacing: 1.5px;
}

#grid-jobs {
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr;
  grid-column-gap: 20px;
  grid-auto-rows: minmax(10px, auto);
  align-items: stretch;
  justify-items: start;
  font-size: 20px;
}

#grid-skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
  align-items: stretch;
  justify-items: start;
  font-size: 20px;
}

#grid-skills>div {
  display: flex;
  width: 100%;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}

.meter {
  display: inherit;
  height: 100%;
  width: 70%;
  background-image: linear-gradient( -300deg, rgb(126, 132, 218) 3%, rgb(4, 4, 148) 50%);
  border-radius: 5px;
  -webkit-animation: fill70 1.5s ease-in-out;
  animation: fill70 1.5s ease-in-out;
}

.main-job-title {
  text-align: left;
  font-size: 20px;
  margin-top: 5px;
  background-color: rgba(140, 0, 255, 0.658);
}

.info {
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  background-color: rgba(140, 0, 255, 0.651);
}

.skill-titles {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: start;
  margin-top: 5px;
}

.job-bullets {
  display: grid;
  grid-column: 1/4;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 17px;
  letter-spacing: 2px;
  color: black;
  background-color: rgba(192, 160, 218, 0.425);
  border: 2px solid rgba(255, 253, 253, 0.541);
  border-radius: 10px;
  padding: 5px;
}

/* Style the tab */

.tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  grid-auto-rows: minmax(10px, auto);
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 2px solid rgb(4, 4, 148);
  border-radius: 5px;
}

/* Style the buttons inside the tab */

.tab button {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 25px;
  letter-spacing: 1.5px;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Style the tab content */

.tabcontent {
  font-size: 25px;
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: rgba(4, 4, 148, 0.87);
}

/* Create an active/current tablink class */

.tab button.active {
  background-color: rgba(4, 4, 120, 0.966);
}

#projects ul {
  font-size: 50px;
  list-style-type: none;
}

#projects ul>a:visited, a:link {
  text-decoration: none;
}

#projects li>a:hover {
  color: black;
}

/* Fade in tabs */

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fill70 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes fill70 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes fill65 {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes fill65 {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@-webkit-keyframes fill55 {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}

@keyframes fill55 {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}

@media screen and (max-width: 1099px) {
  .wrapper {
    grid-column-gap: 50px;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: start;
  }
  .right-side {
    margin-top: 50px;
    padding-bottom: 20px;
    /* padding-right: 110px; */
  }
  .tab button {
    font-size: 20px;
  }
  #projects {
    font-size: 18px;
  }
  .main-job-title {
    font-size: 19px;
  }
  .info {
    font-size: 17px;
  }
  @-moz-document url-prefix() {
    .right-side {
      margin-top: 80px;
      /* padding-bottom: 20px; */
      /* padding-right: 90px; */
    }
  }
  #leo-photo {
    width: 50%;
    height: 45%;
  }
  .tab {
    grid-column-gap: 30px;
  }
  .main-job-title {
    text-align: left;
  }
  #projects ul {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  @-moz-document url-prefix() {
    .right-side {
      margin-top: 100px;
      /* padding-bottom: 20px; */
      /* padding-right: 90px; */
    }
  }
}

@media screen and (max-width: 500px) {
  .right-side {
    margin-top: 50px;
    padding-bottom: 20px;
    /* padding-right: 0px; */
  }
  .left-side {
    padding-left: 0px;
  }
  .left-side>p>a>img {
    width: 30px;
    height: 30px;
  }
  @-moz-document url-prefix() {
    .right-side {
      margin-top: 50px;
      /* padding-bottom: 20px; */
      /* padding-right: 40px; */
    }
  }
  #name-title {
    font-size: 30px;
  }
  #pos-title {
    font-size: 20px;
  }
  .tab button {
    font-size: 18px;
  }
  .blurb-list>div {
    font-size: 16px;
  }
  .blurb-list>div a:hover {
    font-size: 17px;
  }
  .skill-titles {
    font-size: 16px;
  }
  .main-job-title {
    font-size: 16px;
  }
  .info {
    font-size: 16px;
  }
  .job-bullets {
    font-size: 12px;
  }
  #projects ul {
    font-size: 20px;
  }
  #leo-photo {
    width: 270px;
    height: 200px;
  }
  .tab {
    grid-column-gap: 50px;
  }
}

@media screen and (max-width: 340px) {
  .right-side {
    margin-top: 50px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .left-side {
    padding-left: 0px;
  }
  .left-side>p>a>img {
    width: 30px;
    height: 30px;
  }
  .tab {
    grid-column-gap: 10px;
  }
  .tab button {
    font-size: 20px;
  }
  #projects {
    font-size: 18px;
  }
  @-moz-document url-prefix() {
    .right-side {
      margin-top: 50px;
      /* padding-bottom: 20px; */
      /* padding-right: 0px; */
    }
  }
  #name-title {
    font-size: 30px;
  }
  #pos-title {
    font-size: 20px;
  }
  #leo-photo {
    width: 200px;
    height: 150px;
  }
  .tab button {
    font-size: 18px;
  }
  .tab {
    grid-column-gap: 40px;
  }
  .blurb-list>div {
    font-size: 16px;
  }
  .blurb-list>div a:hover {
    font-size: 17px;
  }
  .skill-titles {
    font-size: 16px;
  }
  .main-job-title {
    font-size: 16px;
  }
  .info {
    font-size: 16px;
  }
  .job-bullets {
    font-size: 12px;
  }
}

@media screen and (min-width: 1100px) {
  .right-side {
    padding-top: 10px;
    padding-right: 15px;
    width: 100%;
  }
  .wrapper {
    justify-items: center;
    padding-left: 0px;
    grid-column-gap: 20px;
  }
  .tab {
    grid-column-gap: 10px;
    margin-top: 0px;
  }
  #grid-jobs {
    grid-column-gap: 10%;
  }
}