@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

:root {
  --mobileWidth: 480px;
}

body {
  font-family: 'Playfair Display';
  background-color: rgb(0, 1, 6);
}

/* Ensures width and height of boxes include padding */

* {
  box-sizing: border-box;
}

.header {
  color: white;
  display: block;
  text-align: center;
}

.header h1 {
  font-size: 60px;
  letter-spacing: 4px;
}

.leo {
  text-shadow: 2px 4px 6px rgba(35, 51, 199, 0.568);
}

.software {
  /* Clip Background Image */
  background: url(../images/matrix.jpg) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: title-animation 20s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

.navbar {
  overflow: hidden;
  text-align: center;
  font-size: 120%;
  padding-bottom: 60px;
}

.navbar a.button {
  /* Make sure that the links stay side-by-side */
  display: inline-block;
  /* Change the display to block, for responsive reasons (see below) */
  color: white;
  text-align: inherit;
  background-image: linear-gradient(-360deg,rgb(7, 6, 82) 3%, rgba(0, 0, 0, 1) 50%);
  border-radius: 15px;
  padding: 10px 50px;
  margin: 30px;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  transition-delay: 0.1s;
  /*might keep this weird delay on the letter coloring*/
}

/* Change color on hover/mouse-over */

.navbar a.button:hover {
  font-size: 125%;
  background-color: rgba(0, 0, 0, 0.35);
  transition: font-size 0.2s, background-color 0.3s;
  color: white;
}

.weekly-container {
  text-align: center;
  font-size: 200%;
  padding-top: 25px;
}

.weekly-container span {
  color: white;
  background-image: repeating-linear-gradient(0deg,black 10%, rgb(5, 4, 61) 300%);
  border-radius: 5px;
}

.weekly-container iframe {
  margin-top: 5px;
  margin-bottom: 10px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
/*   -moz-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -o-transform:rotate(5deg);
  -ms-transform:rotate(5deg); */
/*      filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
*/ }

#article-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  /* justify-content: center; */

  color: white;
  font-size: 20px;
  padding-top: 10px;
}
#article-title {
  font-family: 'Merriweather', serif;
  font-size: 85%;
  width: 560px;
  padding-top: 15px;
  /*To get shortened article title*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#article-image {
  width: 560px;
  height: 250px;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#bottom-article-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  width: 560px;

}
#bottom-article-row a {
  font-family: 'Merriweather', serif;
  padding-left: 10px;
  margin-left: 230px;
}
#article-heart {
  width: 40px;
  height: 35px;
}
#article-likes {
  padding-left: 10px;
}

#video-container {
  padding-top: 10px;
}
#audio-container {
  padding-top: 5px;
}

.footer {
  text-align: center;
  color: white;
}
.footer-ribbon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.footer-ribbon img {
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: rgb(0, 2, 12);
}

#footer-list {
  list-style: none;
  text-decoration: none;
  font-size: 110%;
  color: black;
}

#footer-list a.footer-links:link, a.footer-links:visited {
  text-decoration: none;
  color: white;
}

#footer-list a.footer-links:hover {
  font-size: 112%;
  color: red;
}

/* Responsive layout - when the screen is less than 600px wide, make the navigation links 
stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {

}
@media screen and (max-width: 600px) {
  .navbar a {
    display: block;
    float: none;
    width: 100%;
  }
  #article-image {
    width: var(--mobileWidth);
  }
  #article-title {
    width: var(--mobileWidth);
  }
  #bottom-article-row {
    width: var(--mobileWidth);
  }
  .weekly-container iframe {
    width: var(--mobileWidth);
  }
}

/* Animate Background Image */

@-webkit-keyframes title-animation {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}