  .overlay {
    text-align: start;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 0.97;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: rgb(202, 200, 200);
    border-radius: 5px;
    width: 30%;
    height: 45%;
    position: relative;
    transition: all 1s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .popup .close:hover {
    /*put jawn here to make X bigger*/

  }
  .popup .content {
    overflow: hidden;
  }
  .popup .content ul {
    list-style-type: none;
  }
  .popup .content a {
    text-decoration: none;
  }
  
  @media screen and (max-width: 700px){
    .popup{
      width: 70%;
    }
  }
  @media screen and (max-height: 450px){
    .popup{
      height: 70%;
    }
  }