/* Pixel 3xl */

@media screen and (width: 412px) and (height: 847px) {
    #header-intro {
        font-size: 32px;
        padding-top: 25%;
    }
    .footer-list {
        padding-top: 60%;
    }
    .navbar {
        padding-left: 190px;
    }
    .footer-ribbon {
        padding-top: 15px;
    }
    .footer-ribbon img {
        width: 70px;
        height: 60px;
    }
    .nav-button {
        font-size: 23px;
    }
    .nav-button:hover {
        font-size: 22px;
    }
    #ly-icon {
        font-size: 35px;
    }
    .panel {
        font-size: 16px;
    }
}

@media screen and (width: 847px) and (height: 412px) {
    #header-intro {
        font-size: 35px;
        padding-top: 3%;
    }
    .footer-list {
        padding-top: 7%;
    }
    .footer-ribbon {
        padding-top: 15px;
    }
    .footer-ribbon img {
        width: 70px;
        height: 60px;
    }
    .navbar {
        padding-left: 625px;
    }
    .nav-button {
        font-size: 18px;
    }
    .nav-button:hover {
        font-size: 19px;
    }
    #ly-icon {
        font-size: 35px;
    }
    .panel {
        font-size: 14px;
    }
}