/* Pixel 3 */

@media screen and (width: 412px) and (height: 824px) {
    .header-intro {
        padding-top: 40%;
    }
    .footer {
        padding-top: 143%;
    }
}

@media screen and (width: 824px) and (height: 412px) {
    .header-intro {
        font-size: 35px;
        padding-top: 5%;
    }
    .footer {
        padding-top: 21%;
    }
    .footer-ribbon img {
        width: 60px;
        height: 50px;
    }
    .nav-button {
        font-size: 17px;
    }
    .nav-button:hover {
        font-size: 18px;
    }
    #ly-icon {
        font-size: 25px;
    }
    .panel {
        font-size: 12px;
    }
}