/* Pixel 2XL */

@media screen and (width: 411px) and (height: 823px) {
  .header-intro {
    padding-top: 35%;
  }
  .footer {
    padding-top: 145%;
  }
}

@media screen and (width: 823px) and (height: 411px) {
  .header-intro {
    font-size: 35px;
    padding-top: 5%;
  }
  .footer {
    padding-top: 20%;
  }
  .footer-ribbon img {
    width: 60px;
    height: 50px;
  }
  .nav-button {
    font-size: 18px;
  }
  .nav-button:hover {
    font-size: 19px;
  }
  #ly-icon {
    font-size: 25px;
  }
  .panel {
    font-size: 13px;
  }
}