/* Pixel 3xl */

@media screen and (width: 412px) and (height: 847px) {
    .header-intro {
        padding-top: 40%;
    }
    .footer {
        padding-top: 150%;
    }
}

@media screen and (width: 847px) and (height: 412px) {
    .header-intro {
        font-size: 30px;
        padding-top: 5%;
    }
    .footer {
        padding-top: 20%;
    }
    .footer-ribbon img {
        width: 60px;
        height: 50px;
    }
    .nav-button {
        font-size: 17px;
    }
    .nav-button:hover {
        font-size: 18px;
    }
    #ly-icon {
        font-size: 25px;
    }
    .panel {
        font-size: 12px;
    }
}