@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Ensure proper sizing */

* {
    box-sizing: border-box;
}

.header {
    display: block;
    padding: 25px;
    text-align: center;
    background: #137baf;
    color: white;
    
}

.header h1 {
    font-family: 'Playfair Display';
    font-size: 40px;
}

.header p {
    font-family: 'Playfair Display';
    font-style: italic;
}

.navbar {
    overflow: hidden;
    background-color: #d64208;
    text-align: center;
}

.navbar a {
    
    /* Make sure that the links stay side-by-side */
    display: inline-block;
    /* Change the display to block, for responsive reasons (see below) */
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    /* Remove underline */
}

/* Change color on hover/mouse-over */

.navbar a:hover {
    background-color: #ff8759;
    color: white;
    /* Black text color */
}

.weekly-container {
    text-align: center;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }

  #footer-list {
      list-style: none;
    }

/* Column container */
/* 
.row {
    display: flex;
    flex-wrap: wrap;
} */

/* Create two unequal columns that sits next to each other */

/* Sidebar/left column */

/* .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
} */

/* Main column */

/* .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
} */

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

/* @media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
} */

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}