#info-section {
  place-self: start;
}

#about-me {
  display: none;
  padding-right: 15%;
  padding-top: 50px;
  font-family: "Jua", sans-serif;
  font-size: 20px;
  line-height: 35px;
  /* Scrollbar */
}
#about-me p {
  height: 90vh;
  overflow: auto;
}
#about-me ::-webkit-scrollbar {
  width: 5px;
}
#about-me ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
#about-me ::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.788);
  border-radius: 10px;
}
#about-me ::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 4, 4, 0.904);
}

.tabs {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  overflow: hidden;
  padding-top: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 92%;
}
.tabs button {
  font-family: "Alloyink";
  font-size: 17px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  animation: fade 1s;
}
.tabs button:hover {
  color: rgba(4, 4, 148, 0.87);
}
.tabs button.active {
  color: rgba(4, 4, 148, 0.87);
}
.tabs summary::-webkit-details-marker {
  display: none;
}
.tabs summary:focus {
  outline: none;
}
.tabs summary {
  list-style: none;
  outline: none;
  cursor: pointer;
}
.tabs summary img {
  width: 60px;
  height: auto;
  margin-left: 4px;
  animation: spin 15s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s infinite normal;
}

.tabcontent {
  display: none;
  animation: fade 1s;
}

#skills-container {
  display: none;
  flex-flow: row wrap;
  align-items: stretch;
  justify-items: start;
  width: 75%;
  margin-top: 25px;
}
#skills-container div {
  width: 100%;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.527);
  border-radius: 5px;
}
#skills-container .skill-titles {
  font-family: "Jua", sans-serif;
  font-size: 18px;
  text-align: start;
}
#skills-container .skill-titles img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin: 5px;
  margin-left: 0;
}
#skills-container .skill-titles img:hover {
  animation: skew-h 0.5s ease-in-out 0.2s 1 normal;
}
#skills-container .meter {
  display: inherit;
  height: 100%;
  width: 70%;
  background-image: linear-gradient(-300deg, #7e84da 3%, #040494 50%);
  border-radius: 5px;
}

#projects-container {
  display: none;
  flex-flow: row wrap;
  overflow: auto;
  width: 75%;
  font-family: "Jua", sans-serif;
  font-size: 20px;
  line-height: 40px;
}
#projects-container .mySlides {
  padding-top: 80px;
  animation: fade 1s;
}
#projects-container a,
#projects-container a:visited,
#projects-container a:link {
  text-decoration: none;
  color: blue;
  font-size: 30px;
  transition: color 0.8s linear;
}
#projects-container a:hover {
  color: red;
  transition: color 1s linear 0.4s;
}
#projects-container img {
  width: 80px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}
#projects-container img:hover {
  animation: wiggle-h 0.5s ease-in-out 4 alternate;
}
#projects-container span {
  border-bottom: 4px dotted blue;
}
#projects-container .prev,
#projects-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: blue;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
}
#projects-container .prev:hover,
#projects-container .next:hover {
  color: red;
  transition: color 0.5s;
}
#projects-container .next {
  right: 12%;
}
#projects-container .prev {
  left: 31%;
}

@keyframes fill70 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes fill65 {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes fill55 {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  7% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wiggle-h {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes skew-h {
  0% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(180deg);
  }
}
@media only screen and (min-width: 2200px) and (min-height: 1300px) {
  #about-me {
    font-size: 45px;
    line-height: 80px;
  }

  .tabs summary img {
    width: 150px;
  }
  .tabs button {
    font-size: 35px;
  }

  #skills-container {
    margin-top: 160px;
  }
  #skills-container div {
    height: 70px;
  }
  #skills-container .skill-titles {
    font-size: 40px;
  }
  #skills-container .skill-titles img {
    width: 100px;
    height: 100px;
  }

  #projects-container {
    font-size: 50px;
    line-height: 80px;
  }
  #projects-container .mySlides {
    padding-top: 120px;
  }
  #projects-container a,
#projects-container a:visited,
#projects-container a:link {
    font-size: 80px;
  }
  #projects-container img {
    width: 200px;
  }
  #projects-container .prev,
#projects-container .next {
    font-size: 70px;
  }
}
@media only screen and (max-width: 1440px) and (min-height: 850px) {
  #about-me {
    font-size: 25px;
    line-height: 38px;
  }

  .tabs summary img {
    width: 80px;
  }
  .tabs button {
    font-size: 20px;
  }

  #skills-container {
    margin-top: 70px;
  }
  #skills-container div {
    height: 30px;
  }
  #skills-container .skill-titles {
    font-size: 23px;
  }
  #skills-container .skill-titles img {
    width: 60px;
    height: 60px;
  }

  #projects-container {
    font-size: 28px;
  }
  #projects-container a,
#projects-container a:visited,
#projects-container a:link {
    font-size: 40px;
  }
  #projects-container img {
    width: 100px;
  }
}
@media only screen and (max-width: 1024px) and (min-height: 700px) {
  #about-me {
    font-size: 20px;
    line-height: 28px;
  }

  .tabs summary img {
    width: 60px;
  }
  .tabs button {
    font-size: 16px;
  }

  #skills-container {
    margin-top: 50px;
  }
  #skills-container .skill-titles {
    font-size: 19px;
  }
  #skills-container .skill-titles img {
    width: 50px;
    height: 50px;
  }

  #projects-container {
    font-size: 21px;
  }
  #projects-container .mySlides {
    padding-top: 60px;
  }
}
@media only screen and (max-width: 768px) and (min-height: 550px) {
  #about-me {
    font-size: 17px;
    line-height: 26px;
    padding-top: 30px;
  }

  .tabs {
    left: 91%;
  }
  .tabs summary img {
    width: 55px;
  }
  .tabs button {
    font-size: 13px;
  }

  #skills-container {
    margin-top: 10%;
  }
  #skills-container div {
    height: 20px;
  }
  #skills-container .skill-titles {
    font-size: 18px;
  }
  #skills-container .skill-titles img {
    width: 45px;
    height: 45px;
  }

  #projects-container {
    font-size: 20px;
    line-height: 30px;
  }
  #projects-container .mySlides {
    padding-top: 20%;
  }
  #projects-container a,
#projects-container a:visited,
#projects-container a:link {
    font-size: 25px;
  }
  #projects-container img {
    width: 60px;
  }
}
@media only screen and (max-width: 425px) and (max-height: 850px) {
  #about-me {
    font-size: 14px;
    line-height: 18px;
    padding-top: 80px;
    padding-right: 23%;
  }
  #about-me p {
    height: 45vh;
  }

  .tabs {
    left: 87%;
  }
  .tabs summary img {
    width: 35px;
  }
  .tabs button {
    font-size: 9px;
  }

  #skills-container {
    margin-top: 90px;
  }
  #skills-container div {
    height: 15px;
  }
  #skills-container .skill-titles {
    font-size: 12px;
  }
  #skills-container .skill-titles img {
    width: 35px;
    height: 35px;
  }

  #projects-container {
    font-size: 13px;
    line-height: 18px;
  }
  #projects-container .mySlides {
    padding-top: 100px;
  }
  #projects-container a,
#projects-container a:visited,
#projects-container a:link {
    font-size: 15px;
  }
  #projects-container img {
    width: 40px;
  }
  #projects-container .prev,
#projects-container .next {
    font-size: 17px;
    top: 35%;
  }
}
@media only screen and (max-width: 375px) and (max-height: 850px) {
  #about-me {
    font-size: 11px;
  }
  #about-me p {
    height: 45vh;
  }

  #skills-container {
    margin-top: 80px;
  }

  .tabs summary img {
    width: 30px;
  }
  .tabs button {
    font-size: 8px;
  }

  #projects-container .mySlides {
    padding-top: 90px;
  }
}
@media only screen and (max-width: 320px) and (max-height: 850px) {
  #about-me {
    padding-top: 60px;
  }
  #about-me p {
    height: 50vh;
  }

  .tabs {
    left: 85%;
  }
  .tabs summary img {
    width: 30px;
  }
  .tabs button {
    font-size: 8px;
  }

  #skills-container {
    margin-top: 70px;
  }
  #skills-container div {
    height: 12px;
  }
  #skills-container .skill-titles {
    font-size: 11px;
  }
  #skills-container .skill-titles img {
    width: 30px;
    height: 30px;
  }

  #projects-container {
    font-size: 11px;
  }
  #projects-container .mySlides {
    padding-top: 70px;
  }
  #projects-container a,
#projects-container a:visited,
#projects-container a:link {
    font-size: 15px;
  }
  #projects-container img {
    width: 40px;
  }
  #projects-container .prev,
#projects-container .next {
    font-size: 15px;
    top: 40%;
  }
}

/*# sourceMappingURL=myInfo.css.map */
