#photo-section {
  display: grid;
  grid-area: my-photo;
  grid-template-columns: 1fr 0.5fr;
  align-self: start;
  font-size: 30px;
  font-family: "Lacquer", cursive;
}
#photo-section .my-photos {
  animation: skew-h 0.07s ease-out 1;
}
#photo-section .my-photos img {
  width: 100%;
  height: auto;
}
#photo-section header {
  display: flex;
  flex-flow: column nowrap;
}
#photo-section a {
  margin-top: 150%;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  position: sticky;
}
#photo-section a #resume {
  width: 60%;
  height: auto;
  animation: wiggle-v 0.8s infinite alternate-reverse;
  transition: all 1s;
}
#photo-section a #resume:hover {
  filter: invert(64%) sepia(98%) saturate(353%) hue-rotate(176deg) brightness(99%) contrast(87%) drop-shadow(-2px 12px 2px rgba(0, 0, 0, 0.644));
  transition: filter 1s;
}
#photo-section span:nth-child(1) {
  position: absolute;
  top: 4%;
  left: 14%;
  transform: rotate(-10deg);
  border-bottom: 10px ridge blue;
}
#photo-section span:nth-child(2) {
  position: absolute;
  top: 10%;
  left: 15%;
  transform: rotate(-10deg);
  z-index: 1;
  font-size: 45px;
  background: url("../assets/wave.png");
  background-repeat: round;
  background-size: contain;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: letters-bg 5s linear infinite;
  backface-visibility: hidden;
}

@keyframes letters-bg {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes wiggle-v {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes skew-h {
  0% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(-270deg);
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #photo-section {
    font-size: 25px;
  }
  #photo-section .my-photos {
    padding-left: 20vw;
    padding-top: 5vh;
  }
  #photo-section .my-photos img {
    filter: drop-shadow(-10px 5px 5px rgba(0, 0, 0, 0.616));
    width: 55vw;
  }
  #photo-section a {
    z-index: 1;
    margin-top: 28vh;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  #photo-section a #resume {
    width: 13vw;
  }
  #photo-section span:nth-child(1) {
    top: 2%;
    left: 58%;
    transform: rotate(0deg);
    border-bottom: 5px ridge blue;
  }
  #photo-section span:nth-child(2) {
    font-size: 25px;
    top: 8%;
    left: 58%;
    transform: rotate(0deg);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #photo-section {
    font-size: 20px;
  }
  #photo-section .my-photos img {
    width: 130%;
  }
  #photo-section a {
    margin-top: 200%;
    margin-left: 0;
  }
  #photo-section a #resume {
    width: 60%;
  }
  #photo-section span:nth-child(1) {
    top: 2%;
    left: 17%;
  }
  #photo-section span:nth-child(2) {
    font-size: 25px;
    top: 8%;
    left: 18%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #photo-section {
    font-size: 23px;
  }
  #photo-section .my-photos img {
    width: 100%;
  }
  #photo-section a {
    margin-top: 150%;
    margin-left: 0;
  }
  #photo-section a #resume {
    width: 50%;
  }
  #photo-section span:nth-child(1) {
    top: 3%;
    left: 15%;
  }
  #photo-section span:nth-child(2) {
    font-size: 30px;
    top: 9%;
    left: 16%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  #photo-section {
    font-size: 35px;
  }
  #photo-section .my-photos img {
    width: 100%;
  }
  #photo-section a {
    margin-top: 155%;
    margin-left: 0;
  }
  #photo-section a #resume {
    width: 50%;
  }
  #photo-section span:nth-child(1) {
    top: 3%;
    left: 15%;
  }
  #photo-section span:nth-child(2) {
    font-size: 45px;
    left: 16%;
  }
}
@media only screen and (min-width: 2000px) {
  #photo-section {
    font-size: 50px;
  }
  #photo-section .my-photos img {
    width: 120%;
  }
  #photo-section a {
    margin-top: 175%;
    margin-left: 0;
  }
  #photo-section a #resume {
    width: 70%;
  }
  #photo-section span:nth-child(1) {
    top: 3%;
    left: 17%;
  }
  #photo-section span:nth-child(2) {
    font-size: 70px;
    left: 18%;
  }
}

/*# sourceMappingURL=photoSection.css.map */
