#photo-section {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-self: start;
  font-size: 30px;
  font-family: "Lacquer", cursive;
}
#photo-section .my-photos {
  animation: skew-h 0.07s ease-out 1;
}
#photo-section .my-photos img {
  width: 100%;
  height: auto;
}
#photo-section header {
  display: flex;
  flex-flow: column nowrap;
}
#photo-section a {
  margin-top: 150%;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  position: sticky;
}
#photo-section a #resume {
  width: 60%;
  height: auto;
  animation: wiggle-v 0.8s infinite alternate-reverse;
  transition: all 1s;
}
#photo-section a #resume:hover {
  filter: invert(64%) sepia(98%) saturate(353%) hue-rotate(176deg) brightness(99%) contrast(87%);
  transition: filter 1s;
}
#photo-section span:nth-child(1) {
  position: absolute;
  top: 4%;
  left: 14%;
  transform: rotate(-10deg);
}
#photo-section span:nth-child(2) {
  position: absolute;
  top: 10%;
  left: 15%;
  transform: rotate(-10deg);
  z-index: 1;
  font-size: 45px;
  background: url("/wave.png");
  background-repeat: round;
  background-size: contain;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: letters-bg 5s linear infinite;
  backface-visibility: hidden;
}

@keyframes letters-bg {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes wiggle-v {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes skew-h {
  0% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(-270deg);
  }
}
@media only screen and (min-width: 2200px) and (min-height: 1300px) {
  #photo-section {
    font-size: 55px;
  }
  #photo-section span:nth-child(2) {
    font-size: 75px;
  }
}
@media only screen and (max-width: 1024px) and (min-height: 650px) {
  #photo-section {
    font-size: 23px;
  }
  #photo-section span:nth-child(2) {
    font-size: 30px;
    top: 9%;
  }
}
@media only screen and (max-width: 768px) and (min-height: 550px) {
  #photo-section {
    font-size: 20px;
  }
  #photo-section span:nth-child(1) {
    top: 2%;
  }
  #photo-section span:nth-child(2) {
    font-size: 22px;
    top: 8%;
  }
}
@media only screen and (max-width: 425px) and (max-height: 850px) {
  #photo-section {
    font-size: 13px;
  }
  #photo-section .my-photos img {
    width: 150%;
  }
  #photo-section a {
    margin-top: 230%;
    margin-left: 0;
  }
  #photo-section span:nth-child(1) {
    top: 2%;
    left: 19%;
  }
  #photo-section span:nth-child(2) {
    font-size: 15px;
    top: 6%;
    left: 21%;
  }
}
@media only screen and (max-width: 375px) and (max-height: 850px) {
  #photo-section {
    font-size: 12px;
  }
  #photo-section span:nth-child(2) {
    font-size: 14px;
    top: 6%;
    left: 21%;
  }
}
@media only screen and (max-width: 320px) and (max-height: 850px) {
  #photo-section {
    font-size: 10px;
  }
  #photo-section span:nth-child(2) {
    font-size: 12px;
    top: 5%;
  }
}

/*# sourceMappingURL=photoSection.css.map */
