@mixin letters-bg() {
    @keyframes letters-bg {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 100% 50%;
        }
    }
}
@mixin wiggle-vertical() {
    @keyframes wiggle-v {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(5px);
        }
    }
}
@mixin skew-horizontal($startDegree, $endDegree) {
    @keyframes skew-h {
        0% {
            transform: skewX($startDegree);
        }
        100% {
            transform: skewX($endDegree);
        }
    }
}

@mixin wiggle-horizontal() {
    @keyframes wiggle-h {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(5px);
        }
    }
}
@mixin fade() {
    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
@mixin spin($startDegree, $endDegree) {
    @keyframes spin {
        0% {
            transform: rotate($startDegree);
        }
        7% {
            transform: rotate($endDegree);
        }
        100% {
            transform: rotate($endDegree);
        }
    }
}
@mixin job-status-popout() {
    @keyframes job-status-popout {
        to {
            bottom: 0;
            right: 0;
            transform: rotate(0deg);
        }
    }
}
@mixin meterFill($percent) {
    @if ($percent == 80%) {
        @keyframes fill80 {
            0% {
                width: 0%;
            }
            100% {
                width: 80%;
            }
        }
    } @else if ($percent == 70%) {
        @keyframes fill70 {
            0% {
                width: 0%;
            }
            100% {
                width: 70%;
            }
        }
    } @else if ($percent == 60%) {
        @keyframes fill60 {
            0% {
                width: 0%;
            }
            100% {
                width: 60%;
            }
        }
    }
}
