@use 'partials/helpers';

#links-section {
    display: flex;
    flex-flow: column nowrap;
    align-self: start;
    justify-self: start;
    // height: 100%;
    font-size: 18px;
    font-family: "Alloyink";

    @include helpers.margin(0, 0, 15px, 5px);
    div {
        padding-bottom: 10px;
        a,
        a:visited {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: rgba(4, 4, 148, 0.87);
        }
        img {
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}
