@use 'partials/helpers';
@use 'partials/animations';

#info-section {
    place-self: start;
}
#about-me {
    display: none;
    padding-right: 15%;
    font-size: 17px;
    font-family: "Jua", sans-serif;
    line-height: 33px;
    // letter-spacing: 1px;
    p {
        // margin-top: 10%;
        height: 90vh;
        overflow: auto;
    }
}
.tabs {
    width: 10%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    position: fixed;
    overflow: hidden;
    @include helpers.pos(0, 0, 0, 92%);
    button {
        // color: white;
        font-size: 15px;
        font-family: "Alloyink";
        letter-spacing: 1.5px;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        animation: fade 1s;
    }
    button:hover {
        color: rgba(4, 4, 148, 0.87);
    }
    button.active {
        color: rgba(4, 4, 148, 0.87);
    }
    summary::-webkit-details-marker {
        display: none;
    }

    summary:focus {
        display: contents;
    }
    summary {
        list-style: none;
        cursor: pointer;
        img:hover {
            animation: spin 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
    }
}

.tabcontent {
    font-size: 25px;
    display: none;
    padding-top: 50px;
    animation: fade 1s;
}

#skills-container {
    display: none;
    // display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-items: start;
    font-size: 20px;
    div {
        width: 100%;
        height: 25px;
    }
    margin-top: 10px;
}
.skill-titles {
    // color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
}
.meter {
    display: inherit;
    height: 100%;
    width: 70%;
    background-image: linear-gradient(-300deg, rgb(126, 132, 218) 3%, rgb(4, 4, 148) 50%);
    border-radius: 5px;
    animation: fill70 1.5s ease-in-out;
}
// #mini-skills-container {
//     display: flex;
//     flex-flow: row nowrap;
//     justify-content: space-between;
//     margin-top: 10%;
// }
#projects-container {
    display: none;
    // display: flex;
    flex-flow: column wrap;
    font-size: 20px;
    a:visited,
    a:link {
        text-decoration: none;
    }
    a:hover {
        color: black;
    }
}

@include helpers.meterFill(70%);
@include helpers.meterFill(65%);
@include helpers.meterFill(55%);
@include animations.fade();
@include animations.spin(0deg, 360deg);
