@use 'partials/helpers';
@use 'partials/animations';

#info-section {
    place-self: start;
}
#about-me {
    display: none;
    padding-right: 15%;
    padding-top: 50px;
    font-size: 17px;
    font-family: "Jua", sans-serif;
    line-height: 33px;
    // letter-spacing: 1px;
    p {
        // margin-top: 10%;
        height: 90vh;
        overflow: auto;
    }
}
.tabs {
    width: 10%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    position: fixed;
    overflow: hidden;
    @include helpers.pos(0, 0, 0, 92%);
    button {
        // color: white;
        font-size: 15px;
        font-family: "Alloyink";
        letter-spacing: 1.5px;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        animation: fade 1s;
    }
    button:hover {
        color: rgba(4, 4, 148, 0.87);
    }
    button.active {
        color: rgba(4, 4, 148, 0.87);
    }
    summary::-webkit-details-marker {
        display: none;
    }

    // summary:focus {
    //     display: contents;
    // }
    summary {
        list-style: none;
        cursor: pointer;
        img:hover {
            animation: spin 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
    }
}

.tabcontent {
    font-size: 25px;
    display: none;
    padding-top: 15px;
    animation: fade 1s;
}

#skills-container {
    display: none;
    // display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-items: start;
    width: 75%;
    margin-top: 10px;
    div {
        width: 100%;
        height: 25px;
        background-color: lightblue;
        border-radius: 5px;
    }
}
.skill-titles {
    // color: black;
    font-family: "Jua", sans-serif;
    font-size: 17px;
    // font-weight: bold;
    text-align: start;
    img {
        vertical-align: middle;
        margin: 5px;
        margin-left: 0;
        // margin-right: 10px;
        // margin-bottom: 5px;
        // margin-top: 5px;
    }
}
.meter {
    display: inherit;
    height: 100%;
    width: 70%;
    background-image: linear-gradient(-300deg, rgb(126, 132, 218) 3%, rgb(4, 4, 148) 50%);
    border-radius: 5px;
    animation: fill70 1.5s ease-in-out;
}
// #mini-skills-container {
//     display: flex;
//     flex-flow: row nowrap;
//     justify-content: space-between;
//     margin-top: 10%;
// }
#projects-container {
    display: none;
    // display: flex;
    flex-flow: row wrap;
    // overflow: auto;
    width: 75%;
    font-family: "Jua", sans-serif;
    font-size: 25px;
    line-height: 40px;

    .mySlides {
        padding-top: 5%;
        animation: fade 1s;
    }
    a:visited,
    a:link {
        text-decoration: none;
        color: blue;
        font-size: 35px;
    }
    a:hover {
    }
    img {
        vertical-align: middle;
        padding-right: 5px;
    }
    span {
        background-color: blue;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        color: blue;
        font-weight: bold;
        font-size: 30px;
        border-radius: 0 3px 3px 0;
    }
    .prev:hover,
    .next:hover {
        color: red;
    }
    .next {
        right: 12%;
    }
    .prev {
        left: 31%;
    }
}

@include helpers.meterFill(70%);
@include helpers.meterFill(65%);
@include helpers.meterFill(55%);
@include animations.fade();
@include animations.spin(0deg, 360deg);
