@use 'partials/helpers';
@use 'partials/animations';

#photo-section {
    display: grid;
    grid-area: my-photo;
    grid-template-columns: 1fr 0.5fr;
    align-self: start;
    font-size: 30px;
    font-family: "Lacquer", cursive;

    .my-photos {
        animation: skew-h 0.07s ease-out 1;
        img {
            width: 100%;
            height: auto;
        }
    }
    header {
        display: flex;
        flex-flow: column nowrap;
    }
    a {
        @include helpers.margin(150%, 0, 0, 10px);
        position: sticky;
        #resume {
            width: 60%;
            height: auto;
            animation: wiggle-v 0.8s infinite alternate-reverse;
            transition: all 1s;
        }
        #resume:hover {
            filter: invert(64%) sepia(98%) saturate(353%) hue-rotate(176deg) brightness(99%) contrast(87%)
                drop-shadow(-2px 12px 2px rgba(0, 0, 0, 0.644));
            transition: filter 1s;
        }
    }
    span:nth-child(1) {
        position: absolute;
        top: 4%;
        left: 14%;
        transform: rotate(-10deg);
        border-bottom: 10px ridge blue;
        // border-radius: 5px;
    }
    span:nth-child(2) {
        position: absolute;
        top: 10%;
        left: 15%;
        transform: rotate(-10deg);
        z-index: 1;
        font-size: 45px;

        background: url("../assets/wave.png");
        background-repeat: round;
        background-size: contain;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: letters-bg 5s linear infinite;
        backface-visibility: hidden;
    }
}
@include animations.letters-bg();
@include animations.wiggle-vertical();
@include animations.fade();
@include animations.skew-horizontal(0deg, -270deg);

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #photo-section {
        font-size: 25px;
        .my-photos {
            padding-left: 20vw;
            padding-top: 5vh;
            img {
                filter: drop-shadow(-10px 5px 5px rgba(0, 0, 0, 0.616));
                width: 55vw;
            }
        }
        a {
            z-index: 1;
            @include helpers.margin(28vh, 0, 0, 0);
            #resume {
                width: 13vw;
            }
        }
        span:nth-child(1) {
            top: 2%;
            left: 58%;
            transform: rotate(0deg);
            border-bottom: 5px ridge blue;
        }
        span:nth-child(2) {
            font-size: 25px;
            top: 8%;
            left: 58%;
            transform: rotate(0deg);
        }
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #photo-section {
        font-size: 20px;

        .my-photos img {
            width: 130%;
        }
        a {
            margin-top: 200%;
            margin-left: 0;
            #resume {
                width: 60%;
            }
        }
        span:nth-child(1) {
            top: 2%;
            left: 17%;
        }
        span:nth-child(2) {
            font-size: 25px;
            top: 8%;
            left: 18%;
        }
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #photo-section {
        font-size: 23px;
        .my-photos img {
            width: 100%;
        }
        a {
            margin-top: 150%;
            margin-left: 0;
            #resume {
                width: 50%;
            }
        }
        span:nth-child(1) {
            top: 3%;
            left: 15%;
        }

        span:nth-child(2) {
            font-size: 30px;
            top: 9%;
            left: 16%;
        }
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
    #photo-section {
        .my-photos img {
            width: 100%;
        }
        a {
            margin-top: 155%;
            margin-left: 0;
            #resume {
                width: 50%;
            }
        }
        font-size: 35px;
        span:nth-child(1) {
            top: 3%;
            left: 15%;
        }
        span:nth-child(2) {
            font-size: 45px;
            // top: 9%;
            left: 16%;
        }
    }
}
@media only screen and (min-width: 2000px) {
    #photo-section {
        .my-photos img {
            width: 120%;
        }
        a {
            margin-top: 175%;
            margin-left: 0;
            #resume {
                width: 70%;
            }
        }
        font-size: 50px;
        span:nth-child(1) {
            top: 3%;
            left: 17%;
        }
        span:nth-child(2) {
            font-size: 70px;
            // top: 9%;
            left: 18%;
        }
    }
}
