@use 'partials/helpers';
@use 'partials/animations';

#photo-section {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-self: start;
    // width: 100%;
    // height: 0%;
    font-size: 25px;
    font-family: "Lacquer", cursive;
    .my-photos {
        animation: fade 0.3s;
    }
    header {
        display: flex;
        flex-flow: column nowrap;
    }
    a {
        @include helpers.margin(150%, 0, 0, 10px);
        position: sticky;
        #resume {
            animation: wiggle-v 0.8s alternate-reverse infinite;
        }
    }
    span:nth-child(1) {
        position: absolute;
        top: 4%;
        left: 14%;
        transform: rotate(-10deg);
    }
    span:nth-child(2) {
        position: absolute;
        top: 10%;
        left: 15%;
        transform: rotate(-10deg);
        z-index: -1;
        font-size: 40px;

        background: url("/wave.png");
        background-repeat: round;
        background-size: contain;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: letters-bg 5s linear infinite;
        backface-visibility: hidden;
    }
}
@include animations.letters-bg();
@include animations.wiggle-vertical();
@include animations.fade();
