@use 'partials/helpers';

#photo-section {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-self: start;
    width: 100%;
    height: min-content;
    div:nth-child(2) {
        display: flex;
        flex-flow: column nowrap;
    }
    a {
        @include helpers.margin(100%, 0, 0, 10px);
    }
    span {
        font-size: 18px;
    }
}
